<!--
 * UserController
 *
 * @description :: Email template for reset mail
 * @author      :: Sharmila Thirumalainathan, B00823668
 -->

<b>Hi <%= Name %>,</b><br><br>

You can reset your password using the below link:<br>
<a href="<%= Url %>"><%= Url %></a><br><br>
Regards,<br>
Student Forum Team
