<div class="wrapper d-flex w-100 h-100" id="wrapper">
  <nav id="sidebar">
    <div class="sidebar-sticky text-center">
      <div class="sidebar-header">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
      </div>
      <div class="quick-create text-left" title="New Post">
        <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i><span>&nbsp;&nbsp;New Post</span></button>
      </div>

      <ul class="nav flex-column text-left">
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/dashboard"><i class="fas fa-tv"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
        <li class="nav-item active"><a href="#" class="nav-link" routerLink="/discussions"><i class="far fa-comments"></i><span>&nbsp;&nbsp;&nbsp;Discussions</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-sliders-h"></i><span>&nbsp;&nbsp;&nbsp;Settings</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-question-circle"></i><span>&nbsp;&nbsp;&nbsp;Help</span></a></li>
      </ul>

      <div class="collapse-in-out" (click)="collapse()" title="collapse">
        <i class="fas fa-angle-double-left"></i>
      </div>
    </div>
  </nav>

  <div id="content">
    <div class="top-nav">
      <nav class="navbar navbar-light pb-0 pr-2">
        <div class="form-group search-box bg-transparent">
          <input type="text" class="form-control bg-transparent" placeholder="Type to Search">
          <i class="fa fa-search"></i>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown profile-menu">
            <a class="nav-link dropdown-toggle pt-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/profile.jpg" class="profile-pic" alt="Chandler" />&nbsp;&nbsp;<span class="align-middle">Chandler Bing</span>
            </a>
            <div class="dropdown-menu animate appear">
              <a class="dropdown-item">Manage profile</a>
              <a class="dropdown-item" routerLink="/home">Logout</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link"><i class="far fa-bell"></i><span class="badge d-inline-block"></span></a></li>
        </ul>
      </nav>

    </div>

    <div class="discussions-wrapper px-4">
      <div class="content-title row pb-3 px-1">
        <div class="col-sm-5 col-xs-0 pl-3">
          <div class="dropdown float-left">
            <div class="dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">All Post</div>
            <div class="dropdown-menu animate appear">
              <a class="dropdown-item">Trending</a>
              <a class="dropdown-item">Inactive</a>
              <a class="dropdown-item">Archived</a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="float-right actions">
            <i class="fas fa-sort-amount-up text-primary"></i>
          </div>
        </div>
      </div>


      <div class="row post-list ml-4">
        <div class="post-item col-sm-11 col-xs-12 mt-4" *ngFor="let post of posts">
          <h6>{{post.title}}<span class="text-warning internal-label" *ngIf="post.isInternal">&nbsp;&nbsp;&nbsp;<i class="fas fa-circle align-middle"></i>&nbsp;Internal</span>
            <span class="float-right comments" *ngIf="post.comments"><i class="far fa-comment-alt"></i>&nbsp;{{post.comments}}</span>
          </h6>
          <p class="mb-2">by&nbsp;&nbsp;{{post.author}}</p>
          <p><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;{{post.date}}</p>
          <div class="mb-3 post-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu. Faucibus nisl tincidunt eget nullam non nisi est. Neque
            viverra justo nec ultrices...&nbsp;<span class="text-primary font-sm cursor-pointer">Continue Reading</span></div>
        </div>
      </div>

      <div class="pagination-wrapper row">
        <div class="col-sm-6 page-count">
          Showing 6 of 12 Posts
        </div>
        <div class="col-sm-6">
          <nav class="float-right">
            <ul class="pagination">
              <li class="page-item">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>

  </div>
</div>
