.header {
  width: 100%;
  height: 355px;
  background-image: linear-gradient(to right top, #f6f6f6, #f7f7f7, #f8f9f8, #fafafa, #fbfbfb);
}

.logo {
  width: 110px;
}

.nav-item.active {
  border-bottom: 1px solid #5068A9;

  .nav-link {
    color: #5068A9;
  }
}

.banner {
  .banner-img {
    width: 50%;
    min-height: 355px;
  }

  .banner-desc {
    width: 50%;
    padding: 30px;

    h2 {
      word-spacing: 1px;
    }

    p {
      font-weight: 100;
      margin-top: 30px;
    }
  }
}

.customers,
.features {
  margin-top: 45px;
  margin-bottom: 40px;

  .title {
    text-align: center;
    color: #5068A9;
    opacity: 0.8;
    font-weight: 100;
    font-size: 21px;
    text-transform: uppercase;
    font-family: Aclonica;
  }

  .container {
    max-width: 1000px;
  }
}

.customers {
  margin-bottom: 45px;

  .fa {
    color: #5068A9;
  }

  .carousel-item {
    height: 200px;
  }

  .carousel-indicators {
    bottom: 40px;

    li {
      opacity: 0.5;
      transition: opacity 0.6s ease;
      background-color: #343a40;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      &.active {
        opacity: 1;
        width: 12px;
        height: 12px;
        border-radius: 12px;
      }
    }
  }
}

.features {
  .features-list {
    .card {
      border-color: #f0f0f0;
      cursor: pointer;
      box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075)!important;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
      }

      &.bg-dark {
        border-color: #343a40;

        &:hover {
          box-shadow: 0 1rem 3rem rgb(160,160,160)!important;
        }
      }
    }

    .card-img-top {
      height: 240px;
    }
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 790px) {
  h2 {
    font-size: 20px !important;
  }

  p {
    font-size: 0.875rem !important;
  }

  .banner .btn-square {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .customers {
    margin-bottom: 15px;
  }

  .features {
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .header {
    height: auto;
  }

  .banner {
    .banner-img {
      display: none;
    }

    .banner-desc {
      width: 90%;
      margin: 0 auto;
      float: none !important;
    }
  }

  .customers .fa-quote-left {
    font-size: 35px !important;
  }
}
@media (max-width: 576px) {
  .pt-sm-4 {
    padding-top: 4px !important;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .customers h2 {
    width: 90%;
    margin: 0 auto;
  }
}
