<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="#">FAQ</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header overflow-hidden">
  <div class="banner">
    <img src="assets/banner.png" class="banner-img float-left" alt="students">
    <div class="banner-desc float-left">
      <h2>Make Classroom Discussions fun and effective.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla pellentesque dignissim enim. Nec dui nunc mattis enim ut.
      </p>

      <button type="button" class="btn btn-square btn-warning" (click)="signup()">SIGN UP &rarr;</button>
    </div>
  </div>
</div>


<div class="customers">
  <h2 class="title pb-2">What our Customers say</h2>
  <div class="carousel slide carousel-fade pt-3" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="container">
      <div class="row justify-content-around mb-2">
        <div class="col-md-2">
          <div class="text-center mb-4">
            <i class="fa fa-quote-left fa-3x"></i>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="carousel-inner col-md-5 col-sm-7 p-0">
          <div class="carousel-item text-center active">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="carousel-item text-center">
            <p>Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Eget velit aliquet sagittis id consectetur purus. Id aliquet risus feugiat in ante. Et netus et malesuada fames. Enim neque volutpat ac tincidunt.</p>
          </div>

          <div class="carousel-item text-center">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <h2 class="title pb-4 pb-sm-2">Our features</h2>

  <div class="container">
    <div class="features-list row m-0 pt-3 mt-3 justify-content-around">
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Delegation</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-outline-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-12 mt-20">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h4 class="card-title">Browsing Course</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="features-list row m-0 pt-4 pt-sm-4 mt-3 justify-content-around">
      <!-- Grid column -->
      <div class="col-md-5 col-sm-12">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h4 class="card-title">Anonymous Participation</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 mb-4 mt-20">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Subscription</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-outline-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-home-footer></app-home-footer>
