<nav class="navbar navbar-expand-lg navbar-light bg-white  px-4">
  <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Help</a>
          <a class="dropdown-item">FAQ</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row login-form justify-content-around py-4">
    <div class="col-md-7 col-sm-10 login-form-box">
      <h5 class="text-center text-dark text-captialize">Reset &nbsp;Password</h5>
      <form class="position-relative add-form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <div class="input-group mb-4"  [ngClass]="{ 'is-invalid' : resetForm.controls.email.errors && (resetForm.controls.email.touched || resetForm.controls.email.dirty)}">
          <input type="email" class="form-control" required placeholder="Email" formControlName="email">
          <div class="input-group-append">
            <span class="input-group-text p-0"><i class="fas fa-envelope"></i></span>
          </div>
          <div class="invalid-feedback" *ngIf="{ 'is-invalid' : resetForm.controls.email.errors && (resetForm.controls.email.touched || resetForm.controls.email.dirty)}">
            Please enter a valid Email-ID
          </div>
        </div>

        <div class="input-group mb-4"  [ngClass]="{ 'is-invalid' : resetForm.controls.password.errors && (resetForm.controls.password.touched || resetForm.controls.password.dirty)}">
          <input type="password" class="form-control" required placeholder="New Password" formControlName="password">
          <div class="input-group-append">
            <span class="input-group-text p-0"><i class="fas fa-key"></i></span>
          </div>
          <div class="invalid-feedback" *ngIf="{ 'is-invalid' : resetForm.controls.password.errors && (resetForm.controls.password.touched || resetForm.controls.password.dirty)}">
            Please enter a valid password
          </div>
        </div>

        <div class="input-group mb-4"   [ngClass]="{ 'is-invalid' : resetForm.hasError('notSame') && resetForm.controls.confirmPassword.dirty}">
          <input type="password" class="form-control" required placeholder="Confirm Password" formControlName="confirmPassword">
          <div class="input-group-append">
            <span class="input-group-text p-0"><i class="fas fa-key"></i></span>
          </div>
          <div class="invalid-feedback" *ngIf="{ 'is-invalid' : resetForm.hasError('notSame') && resetForm.controls.confirmPassword.dirty}">
            Password doesn't match
          </div>
        </div>

        <div class="d-flex justify-content-between action-bar align-items-center">
          <button type="submit" class="btn btn-square btn-primary px-4 py-2 col-md-12">Reset</button>
        </div>
      </form>
    </div>


  </div>
</div>

<app-home-footer></app-home-footer>
