<nav class="navbar navbar-expand-lg navbar-light bg-white  px-4">
  <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Help</a>
          <a class="dropdown-item">FAQ</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row login-form justify-content-around py-4">
    <div class="col-md-7 col-sm-10 login-form-box" *ngIf="isLogin; else elsePasswordBlock">
      <h5 class="text-center text-dark">Login into your account</h5>
      <form class="position-relative add-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group mb-4"  [ngClass]="{ 'is-invalid' : loginForm.controls.email.errors && (loginForm.controls.email.touched || loginForm.controls.email.dirty)}">
          <input type="email" class="form-control" required placeholder="Email" formControlName="email">
          <div class="input-group-append">
            <span class="input-group-text p-0"><i class="fas fa-envelope"></i></span>
          </div>
          <div class="invalid-feedback" *ngIf="{ 'is-invalid' : loginForm.controls.email.errors && (loginForm.controls.email.touched || loginForm.controls.email.dirty)}">
            Please enter a valid Email-ID
          </div>
        </div>

        <div class="input-group mb-2"   [ngClass]="{ 'is-invalid' : loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)}">
          <input type="password" class="form-control" required placeholder="Password" formControlName="password">
          <div class="input-group-append">
            <span class="input-group-text p-0"><i class="fas fa-key"></i></span>
          </div>
          <div class="invalid-feedback" *ngIf="{ 'is-invalid' : loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)}">
            Please enter a vaild password
          </div>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember">
          <label class="form-check-label text-dark" for="remember">Remember me</label>
        </div>
        <div class="d-flex justify-content-between action-bar align-items-center">
          <button type="submit" class="btn btn-square btn-primary px-4 py-2 col-md-12">Login</button>
        </div>
        <div class="d-flex justify-content-between mt-4 align-items-center">
          <a class="forgot-pwd cursor-pointer text-primary" href="/signup">Register</a>
          <a class="forgot-pwd cursor-pointer text-primary" (click)="changeView(true)">Forgot password ?</a>
        </div>
      </form>
    </div>


    <ng-template #elsePasswordBlock>
      <div class="col-md-7 col-sm-10 login-form-box">
        <h5 class="text-center text-dark text-captialize">Password &nbsp;Recovery</h5>
        <form class="position-relative add-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="input-group mb-4"  [ngClass]="{ 'is-invalid' : forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.touched || forgotPasswordForm.controls.email.dirty)}">
            <input type="email" class="form-control" required placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <span class="input-group-text p-0"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="invalid-feedback" *ngIf="{ 'is-invalid' : forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.touched || forgotPasswordForm.controls.email.dirty)}">
              Please enter a valid Email-ID
            </div>
          </div>

          <div class="d-flex justify-content-between action-bar align-items-center">
            <button type="submit" class="btn btn-square btn-primary px-4 py-2 col-md-12">Reset Password</button>
          </div>
          <div class="d-flex justify-content-between mt-4 align-items-center">
            <a class="forgot-pwd cursor-pointer text-primary" href="/signup">Register</a>
            <a class="forgot-pwd cursor-pointer text-primary" (click)="changeView(false)">Login</a>
          </div>

        </form>
      </div>
    </ng-template>


  </div>
</div>

<app-home-footer></app-home-footer>
