<div class="footer mb-0">
  <h4 class="title mb-1">Follow us on</h4>
  <ul class="social-media">
    <li><a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
    <li><a href="http://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <p class="copy-rights mb-1">© CopyRight 2019 - 2025.</p>
  <p class="copy-rights mb-0">All rights reserved. Powered by the <span class="text-dark">Dal Students</span>.</p>
</div>
