<div class="wrapper d-flex w-100">
  <nav id="sidebar">
    <div class="sidebar-sticky text-center">
      <div class="sidebar-header">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
      </div>
      <div class="quick-create text-left">
      <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Course</button>
      </div>

      <ul class="nav flex-column text-left">
        <li class="nav-item active"><a href="#" class="nav-link"><i class="fas fa-tv"></i>&nbsp;&nbsp;&nbsp;Dashboard</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-comments"></i>&nbsp;&nbsp;&nbsp;Discussions</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-sliders-h"></i>&nbsp;&nbsp;&nbsp;Settings</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Help</a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="top-nav">
      
    </div>
  </div>
</div>
