@import '../common/layout.scss';

.discussions-wrapper {
  position: relative;
  top: 90px;
  background-color: #F8F9FD;
  max-width: 1000px;

  p {
    font-size: 12px;
  }
}

.content-title i {
  margin-left: 25px;
}

.post-item {
  border-bottom: 1px solid #eef0f5;

  p {
    color: #7b7b7b;
    margin-top: -7px;
  }

  .fa-circle {
    font-size: 3px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.comments,
.internal-label {
  font-size: 12px;
}

.post-desc {
  font-size: 14px;
}

.pagination-wrapper {
  margin-top: 40px;
  padding-bottom: 25px;
  font-size: 14px;

  .page-item.active .page-link {
    background-color: #007bff;
    border-radius: 3px;
    color: #fff;
  }

  .page-link {
    background-color: transparent;
    border: none;

    &:first-child,
    &:last-child {
      color: #7b7b7b;
    }
  }
}
@media (max-width: 600px) {
  .discussions-wrapper {
    padding: 0 10px !important;

    .post-list {
      margin-left: -5px !important;
    }
  }

  .page-count {
    display: none !important;
  }
}

.custom-select {
  background-color: #ffc107;
  color: #212529;
  border: none;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  line-height: 1.2;
  .options{
    background-color: #fff;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
